@import '../../variables';

.userBoard {
  height: 100vh;
  width: 100vw;
  background-color: $primary_bg;
  display: flex;
  color: $font_color;

  &__sidepannel {
    flex: 0.25;
    border-right: 0.09px solid $border_color;
  }

  &__chatWindow {
    flex: 0.5;
  }
}
