.chatTextForm {
  padding: 0.5rem 0;
  margin-top: auto;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.076);
  display: flex;

  &__input {
    width: 100%;
    flex: 0.9;
    color: white;
    padding: 5px 1rem;
    font-size: large;
    background-color: rgba(255, 255, 255, 0.115);
    outline: none;
  }
  &__btn {
    flex: 0.1;
  }
}
