@import '../../variables';

.chatWindow {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    padding: 0.4rem;
    flex: 0.1;
    border-bottom: 0.0009px solid $border_color;
  }
  &__body {
    flex: 0.8;
    height: 100%;
  }
  &__textInput {
    flex: 0.1;
  }
}
