@import '../../variables';

.chatBar {
  &:nth-child(1) {
    margin: 0 0 1rem 0;
  }

  &:nth-last-child() {
    margin: 1rem 0 0rem 0;
  }

  margin: 1rem 0;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;

  &__info {
    margin-left: 0.8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h1 {
      font-size: 1.8rem;
    }

    span {
      font-size: 1rem;
      font-weight: 300;
      color: grey;
    }
  }

  &__ctx {
    margin-left: auto;
    display: none;
  }

  &:hover {
    background-color: #f5005714;
  }

  &:hover &__ctx {
    display: block;
  }
}
