@import '../../variables';

.sidePanel {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    border-bottom: 0.005px solid $border_color;
  }

  &__chatBars {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    &__createBtn {
      background-color: $border_color;
      border-width: 0;
      margin: 0.2rem 0;
      color: white;
      padding: 0.5rem 0;
      font-size: larger;
      cursor: pointer;
    }

    /* width */
    &::-webkit-scrollbar {
      width: 4px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f5005714;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}
